/* -------------------------------------------------------------------------- */
/*               CSS DE LA SECCIÓN DE LAS VALORACIONES DE USUARIO              */
/* -------------------------------------------------------------------------- */

/* Barra contenedor del comentario */
div.userBar{
    display: flex;
    align-items: center;
}

/*  Imagen del usuario*/
div.userBar img{
    margin-left: 20px;
    background-color: white;
}

/* Nombre del usuario */
div.userBar span{
    margin-left: 20px;
    font-size: 20px;
    color: 
    var(--color-text-contrast);
}
/* Bloque numero comentarios */
 #navComments a{
    cursor: default;
} 
/* Texto del comentario */
div.comment h5{
text-align: justify;
padding: 8px 8px;
}

/* ESTILOS DE BOOTSTRAP */
div.panel-default>.panel-heading{
    background-color: var(--main-bg-color);
}


/* -------------------------------------------------------------------------- */
/*                          ESTILOS DE LAS ESTRELLAS PARA PUNTUAR                       */
/* -------------------------------------------------------------------------- */

#formRate {    
    margin: 0 auto;
    height: 50px;
  }  
  
  #formRate label {
    font-size: 40px;
  }
  
  #formRate input[type="radio"] {
    display: none;
  }
  
  #formRate label {
    color: white;
    cursor: pointer;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
  }
  
  #formRate label:hover, #form label:hover ~ label {
    color: var(--main-bg-colorTop);
  }
  
  #formRate input[type="radio"]:checked ~ label {
    color: var(--main-bg-colorTop);
  }

  