/* -------------------------------------------------------------------------- */
/*                               /IMPORTANTE!!!                               */
/* -------------------------------------------------------------------------- */
/* -LOS SELECTORES POR ID SON PRINCIPALMENTE LOS CONTENEDORES DE CADA SECCION 
   -LOS SELECORES POR CLASE SON LOS ELEMENTOS QUE ESTAN DENTRO DE LOS CONTENEDORES*/
/* -ALGUNAS VECES ES NECESARIO USAR DOS SELECTORES PARA NO CREAR CONFLICTO CON BOOTSTRAP EJEMPLO: ul.miClase */

/* -------------------------------------------------------------------------- */
/*                               BARRA TOP                                    */
/* -------------------------------------------------------------------------- */

/*Iconos y login*/
.barraTop ul li{
	line-height:30px;
	display:inline;
	margin:0px 4px;	
}
/* Posicion de los contenedores de iconos y registro */
#social,#register{
	margin-top: 70px;
}



/* --------------------------------- ICONOS SOCIALES --------------------------------- */

 /*Tamaño de los iconos*/
 .social ul li a i{
	font-size:18px;
	margin:0 1px;
}

/* Tamaño del background de los iconos (Usando el estilo del color original) */
.socialMedia{
	width:30px;
	height:30px;
	text-align: center;
	line-height:30px;
	border-radius: 5px;
	/*Centrado del background en los iconos */
	padding-top: 8px;
	
}

/* Imagen de hombre y mujer*/
img.imgTop{
	width: 150px;
	position: absolute;
	left: 20px;
	bottom: 0;
}

/* ---------------------------------- LOGO ---------------------------------- */
/* contenedor del logo */
#logotipo{
	display: flex;
	align-items: center;
	justify-content: center;
}
img.myLogo{
	width: 300px;
	height: 130px;
}

/* ---------------------------------- LOGIN --------------------------------- */

/* Login container */
#register{
	text-align: right;
	font-size:15px;
}
/* Botones de inicio sesion */
.register>ul>li>a{
	text-decoration: none;
}
.register>ul>li>a:hover{
	color: inherit;
}


/* -------------------------------------------------------------------------- */
/*                         BOTON CATEGORIAS                        */
/* -------------------------------------------------------------------------- */

/* Desplegable de las categorias */
#btnCategories{
	margin:20px 0;
	border:1px solid silver;
}

/* Fuente*/
#btnCategories p{
	margin-bottom:0px;
	line-height:40px;	
}

/* Icono del desplegable */
#btnCategories p span{
	margin-top: 13px;
	cursor: pointer;
}

/* -------------------------------------------------------------------------- */
/*                                  BUSCADOR                                  */
/* -------------------------------------------------------------------------- */

/* Contenedor del buscador */
#search{
	margin:20px 0;
}

/* Campo del input */
input.inputSearch{
	padding:20px;
	border-radius:0;
}
/* Boton del buscador */
button.btnSearch{
	padding:13px;
	border:1px solid silver;
	border-radius:0;
}
/* -------------------------------------------------------------------------- */
/*                                   CARRITO                                  */
/* -------------------------------------------------------------------------- */
/* Contenedor carrito */
#shopCart{
	margin:20px 0;
}
/* Boton del carrito */
button.btnShopCart{
	padding:12px 15px;
	border:1px solid silver;
	border-radius:0;
}
/* Texto interior input */
#shopCart p{
	padding:2px;
	padding-left:60px;
	border:1px solid #aaa;
	font-size:12px;
}

/* -------------------------------------------------------------------------- */
/*                DESPLEGABLE DE LAS CATEGORIAS Y SUBCATEGORIAS               */
/* -------------------------------------------------------------------------- */

/* Contenedor */
#categories{
	display:none;
	margin-top:-10px;
	position: relative;
	padding-bottom:20px;
}

/* Posicionamiento titulos  */
h4.titlesCat{
	margin-top:25px;
	margin-bottom:-10px;
}

/* Linea separadora de los titulos */
hr.lineTitleCat{
	border:1px solid rgba(240, 223, 223, 0.705);
	margin-bottom: 10px;
}


/* -------------------------------------------------------------------------- */
/*                                 LOGIN MODAL                                */
/* -------------------------------------------------------------------------- */

.modal-header{
	background:linear-gradient(52deg, rgb(34, 33, 33) 22%, rgb(202, 199, 199) 82%) !important;
	color: white;
	border-left: 0px solid;
	transform: translateX(-1px);
}

.modalBody form {
    width: auto;
    min-height: 350px;
    height: auto;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background-image: linear-gradient(-225deg, #5e5b5bb9 50%, #0a0909a2 50%);
}
.modalBodySignIn form, .modalBodyModiRate form , .modalBodyWishes form{
	min-height: 200px !important;
	height: auto;
}

/* form Container */
form .contLogin{
 
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-direction: column;
}
.containerInputs{
	min-height: 180px;
	height: auto;
	width: 100%;    
	padding-left: 20px;	
}

.formInput{
	width: 60%;
	height: 40px;
	border: 0;
	text-align: center;
	font-size: 15px;
}
.formInput:focus{
	border-color: var(--main-bg-colorTop) !important;
}
/* Iconos */
.containerInputs i{
	font-size: 30px;
	color: white;
	margin-right: 10px;
}
button.logIn{
	
	background-color: var(--main-bg-colorTop);
	font-size: 18px;
	padding: 5px 20px;
	color: white;
	border: 0;
	border-radius: 5px;
}
/* Ojo login password */
#eye{
	cursor: pointer;
}
#eye:active{
	color: black;
}
/* Cruz para cerrar modal */
button.close{
	font-size: 35px;
	color: black;
	opacity: 0.8;
}

div.otherButtons{
	position: relative;
	width: 100%;
	padding: 0 20px;
}

.otherButtons button{
	font-size: 18px;
	padding: 5px 20px;
	border: 0;
}
button.forgotButton{
	font-size: 14px;
	background-color: rgb(255, 255, 255);
}

div.changeModal{
	width: 100px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;	
}
.buttonSignIn, .buttonSignIn a{
	background-color: black !important;
}

.alertify .ajs-commands button{
	position: absolute;
	color: red;
	right: 0;
}
.alertify .ajs-footer .ajs-buttons .ajs-button.ajs-ok{
	color: var(--main-bg-colorTop) !important;
}

div.alert-warning{
	padding: 5px;
	color: red;
	text-align: center;
	width: 100%;
	margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                              IMAGEN DE PERFIL                              */
/* -------------------------------------------------------------------------- */
img.imgProfileHeader{
	position: absolute;
	top: -30px;
	right: 160px;
	width: 70px;
	height: 70px;
	background-color: white;
}
