/*=============================================
BANNER
=============================================*/

/* Contenedor general */
div.banner{
	height: auto;
	margin: 50px;
	position: relative;
	overflow:hidden;
	height: auto;
}

/* contenedor del banner */
.banner .textBanner{
	position: absolute;
	top:40%;
	width: 100%;
	text-align: center;
}

.textBanner h1{
	font-size:80px;
	line-height:25px;
	color: var(--main-bg-colorTop);
}
img.logoBanner{
	width: 26%;
	position: absolute;
	top: 0;
	z-index: 2;
	left: 54%;
	transform: translateX(-60%);
	top: 50%;
}


/* -------------------------------------------------------------------------- */
/*                      BARRA SUPERIOR DE SECCION PRODUCTOS                 */
/* -------------------------------------------------------------------------- */

div.barProducts{
	background-color: var(--main-bg-colorTop);
    background: linear-gradient(52deg, var(--main-bg-color) 22%, var(--main-bg-colorTop) 82%);
	margin-top: 30px;
	}

/* Separacion entre iconos */
.viewProducts{
display: flex;
justify-content: end;
align-items: center;
}
/* Titulo seccion */
.titleSectionProducts h1{
	display: inline;
	margin: 0;
	color: var(--color-text-contrast);
}
/* Boton se dee more */
button.seeMore{
	border: inherit;
	color: var(--color-text-contrast);
}
/* Contenedor see more */
button.seemore span{
	margin-left:10px;
}

/* -------------------------------------------------------------------------- */
/*                            LISTADO DE PRODUCTOS                            */
/* -------------------------------------------------------------------------- */

/* Contenedor de la zona nombre producto */
.productName{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	height: 10%;
}


/* Todos los contenedores */
.products li div{
	overflow:hidden;
}
/* Imagenes de los productos */
.listProducts img{	
	background-color: white;
	background: radial-gradient(circle, rgba(255,255,255,1) 66%, rgb(98, 97, 104) 100%);
	border: 1px solid var(--main-bg-colorTop);
	width: 255px;
	height: 300px;
	padding: 40px;
	position: relative;
}
/* contenedor estrellas */
div.rating{
	width: 70px;
}
/* Estrellas valoracion */
.starsRating{
	width: 10px;
	height: 10px;
	color: var(--main-bg-color);
}
/* zoom producto */
.products ul li a img:hover{
	transition: .3s all ease;
	transform: scale(1.1,1.1);
}

/* nombre del producto */
.products h5{
	display: inline;
	height: 10px;
	color:rgb(41, 39, 39);
	text-transform: uppercase;
	font-size:13px;
	font-weight: 700;
}
 .price{
	padding: 0 !important;
} 
/* precio sin oferta */
.price h2{
	color: rgb(39, 37, 37);
	margin: 0;
	font-size: 20px;
	text-align: left;	
}
/* Precio con oferta estilo */
div.offer h2{
	color: var(--main-bg-colorTop);
	font-weight: bolder;
}
/* Sticker de offer  */
.stickerOffer::before{
content: 'OFFER!';
color: var(--color-text-contrast);
padding: 5px;
background-color: var(--main-bg-colorTop);
position: absolute;
top:10px;
left: 10%;

}







.productcs ul li h4 small a{
	color:#777;
}

.productcs ul li div.precio{
	padding:0;
	margin-top:-30px;
	padding-bottom:20px;
}

.productcs ul li div.enlaces{
	padding:0;
	padding-bottom:20px;
}

.productcs ul li div.enlaces button{
	margin:2px;
}

.productcs ul li div.enlaces button i{
	color:#999;
	font-size:12px;
}

/*=============================================
VITRINA PRODUCTOS LISTA
=============================================*/

.productos ul li h1{
	margin-top:-10px;
}

.productos ul li h1 small{
	text-transform: uppercase;
	font-size:20px;
	font-weight: 700;
}

.productos ul li h1 small a{
	color:#777;
}

.oferta{
	 text-decoration:line-through;
	 color:#ccc;
	 font-size:15px;
}

.fontSize{
	font-size:11px;
}


/*=============================================
ESCRITORIO GRANDE (LG revisamos en 1366px en adelante)
=============================================*/

@media (min-width:1200px){

	.banner{
		height:260px;
	}


}

/*=============================================
ESCRITORIO MEDIANO O TABLET HORIZONTAL (MD revisamos en 1024px)
=============================================*/

@media (max-width:1199px) and (min-width:992px){

	.banner{
		height:260px;
	}

}

/*=============================================
ESCRITORIO PEQUEÑO O TABLET VERTICAL (SM revisamos en 768px)
=============================================*/

@media (max-width:991px) and (min-width:768px){

	.banner{
		height:180px;
	}

	.textoBanner h1{
		font-size:30px;
		line-height:15px;
	}

	.textoBanner h2{
		font-size:25px;
		line-height:15px;
	}

	.textoBanner h3{
		font-size:25px;
		line-height:15px;
	}

	.banner .textoDer, .banner .textoIzq, .banner .textoCentro{
		top:35px; 
	}


}

/*=============================================
MOVIL (XS revisamos en 320px)
=============================================*/

@media (max-width:767px){

	.banner{
		height:100px;
	}

	.banner .textoDer, .banner .textoCentro, .banner .textoIzq{
		top:7px; 
		left:50%;
		width:800px; 
		margin-left: -400px;
		text-align:center;
		text-shadow:2px 2px 20px black;
	}

	.textoBanner h1{
		font-size:20px;
		line-height:5px;
	}

	.textoBanner h2{
		font-size:20px;
		line-height:5px;
	}

	.textoBanner h3{
		font-size:15px;
		line-height:5px;
	}

	.tituloDestacado h1{
		text-align:center;
	}

	.tituloDestacado button{
		position: absolute;
		left:50%;
		width:40%;
		margin-left:-20%;

	}

	.productos ul li h1 small{
		font-size:16px;
	}

	
}

