
/* -------------------------------------------------------------------------- */
/*                            BANNER DE MOTIVACION                            */
/* -------------------------------------------------------------------------- */

/* Contenedor general */
div.banner{
	height: auto;
	position: relative;
	overflow:hidden;
	height: 800px;
	width: 75%;
	margin-top: 50px;
    padding: 0;
}
.banner img{
	width: 100%;
	height: 100%;
}

/* contenedor del INTERIOR banner */
.banner .textBanner{
	position: absolute;
	top:40%;
	width: 100%;
	text-align: center;
}

.textBanner h1{
	font-size:65px;
	line-height:25px;
	color: var(--main-bg-colorTop);
}
img.logoBanner{
	width: 35%;
	height: 25%;
	position: absolute;
	z-index: 2;
	left: 54%;
	transform: translateX(-60%);
	top: 50%;
}


/* -------------------------------------------------------------------------- */
/*                      BARRA SUPERIOR DE SECCION PRODUCTOS                 */
/* -------------------------------------------------------------------------- */

/* contenedor barra */
div.barProducts{
    background: linear-gradient(52deg, rgb(34, 33, 33) 22%, rgb(202, 199, 199) 82%);
	margin-top: 10px;
	}

/* Posicionamiento de los elementos */
.viewProducts{
display: flex;
justify-content: end;
align-items: center;
} 
/* Titulo seccion */
.titleSectionProducts h1{
	display: inline;
	margin: 0;
	color: var(--color-text-contrast);
}
/* Boton de see more */
button.seeMore{
	border: inherit;
	color: var(--color-text-contrast);
}
/* Contenedor see more */
button.seemore span{
	margin-left:10px;
}
li.bread, li.bread>a{
	color: white;
	text-decoration: none;
	display: inline-block;
	margin: 0;
	padding: 0;
}

/* -------------------------------------------------------------------------- */
/*                            LISTADO DE PRODUCTOS                            */
/* -------------------------------------------------------------------------- */
.containerImgProduct{
	position: relative;
	}

/* Contenedor de la zona nombre producto */
.productName{
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	height: 12%;
}


/* Todos los contenedores */
.products li div{
	overflow:hidden;
}
/* Imagenes de los productos */
.listProducts img{	
	background-color: white;
	background: radial-gradient(circle, rgba(255,255,255,1) 66%, rgb(224, 224, 224) 100%);
	border: 1px solid var(--main-bg-colorTop);
	width: 255px;
	height: 300px;
	padding: 40px;
}

/* zoom producto */
.products ul li a img:hover{
	transition: .3s all ease;
	transform: scale(1.1,1.1);
}

/* nombre del producto */
.products h5{
	display: inline;
	height: 10px;
	color:rgb(41, 39, 39);
	text-transform: uppercase;
	font-size:13px;
	font-weight: 700;
}
 .price{
	padding: 0 !important;
} 
/* precio sin oferta */
.price h2{
	color: rgb(39, 37, 37);
	margin: 0;
	font-size: 20px;
	text-align: left;
	display: inline-block;
}
/* Precio con oferta estilo */
div.offer h2{
	color: var(--main-bg-colorTop);
	font-weight: bolder;
}
/* Precio tachado  */
span.oldPrice{
	text-decoration: line-through !important;
	margin-right: 5px;
	font-size: 20px;
	color: var(--main-bg-color);
}
/* Sticker de offer  */
.stickerOffer::before{
content: 'OFFER!';
color: var(--color-text-contrast);
padding: 5px;
background-color: var(--main-bg-colorTop);
position: absolute;
top:10px;
left: 10%;
}

/* -------------------------------------------------------------------------- */
/*                SISTEMA DE ESTRELLAS DE LOS PRODUCTOS  LISTA                        */
/* -------------------------------------------------------------------------- */
/* contenedor estrellas */
div.rating{
	width: 100%;
}

/* Contador de valoraciones */
div.rating span{
	margin-left: 6px;
	font-size: 14px;
}
/* Estrellas valoracion */
.starsRating{
	width: 10px;
	height: 10px;
	color: var(--main-bg-colorTop);
	
}

/* -------------------------------------------------------------------------- */
/*                       SECCION DE IMAGEN BEST PRODUCTS                      */
/* -------------------------------------------------------------------------- */

div.contImgBest{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 80px;
}

div.contImgBest img{
	width: 100%;
}

/* -------------------------------------------------------------------------- */
/*                       SECCION DE COMENTARIOS Y LIKES                       */
/* -------------------------------------------------------------------------- */

div.contCommentsUsers{
	height: 500px; 
	border: 1px solid red;
	width: 100%;
	margin: auto;
	margin-top: 50px;
	overflow: hidden;
}
/* Clase para expandir el contenedor */
div.expand{
	overflow-y: scroll;
	height: 1000px;
}

div.panelComments div{
	display: flex;
	align-items: center;
}
/* Nombre de usuario */
div.panelComments div h2{

	margin: 0;
	font-size: 25px;
	font-weight: bold;
	margin-left: 20px;
	margin-right: 20px;
	text-transform: uppercase;
}
/* Fecha */
div.panelComments div h4{

	margin-top: 20px;
	font-size: 13px;
}
/* Texto comentario */
div.panelComments div p{
 
	padding-left: 75px;
	padding-right: 20px;
	font-family: Arial, Helvetica, sans-serif !important;
}
/* Imagen */
div.panelComments div img{
	
   background-color: rgb(236, 227, 227);
   padding: 5px;
}

/* Panel del like */
div.panelComments div.panel-footer{
 background-color: rgba(241, 234, 234, 0.348);
 padding: 2px;
 border: none;
}

/* Likes */
div.panelComments div.panel-footer i{
	font-size: 20px;
	cursor: pointer;
	margin-left: 75px;
	color: var(--main-bg-color);

   }


/* Boton de show more */

button.showMoreComm{
	border: none;
	font-size: 20px;
	font-family: 'Righteous', cursive;
	color: var(--main-bg-colorTop);
	background-color: initial;
}
/* ELIMINAR ESTILOS HOVER DEL BOTON  */
.showMoreComm:not([disabled]):not(.disabled).active,
.showMoreComm:not([disabled]):not(.disabled):active,
.showMoreComm:not([disabled]):not(.disabled).hover,
.showMoreComm:not([disabled]):not(.disabled):hover {
    color:var(--main-bg-colorTop)!important;
    background-color: initial !important;
    border-color:initial !important;
}


