
/* -------------------------------------------------------------------------- */
/*              SECCIÓN DEL PERFIL MODIFICANDO ESTILOS BOOTSTRAP              */
/* -------------------------------------------------------------------------- */

.nav-tabs{
    border-bottom:1px solid var(--main-bg-colorTop) !important;
}

ul.nav-tabs>li.active>a{
 border-bottom: 1px solid var(--main-bg-colorTop) !important;
 background-color: var(--main-bg-color) !important;
 color: var(--color-text-contrast) !important;
}

ul.nav-tabs>li>a{
    color: black;
}
div.productProfile h3{

    margin-top: 0;
    margin-bottom: 14px;
    font-size: 18px;
}
.progress-bar-danger{
    background-color: var(--main-bg-colorTop) !important;
    color: var(--color-text-contrast) !important;
}
.progress{
    height: 30px !important;
}
.progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3.textProf{
    font-size: 17px !important;

}

/* -------------------------------------------------------------------------- */
/*             SELECCION DE DE IMAGENES PARA EL PERFIL DE USUARIO             */
/* -------------------------------------------------------------------------- */

div.gridPictures{
    width: 100%;
    margin: 0;
    /* margin-left: 50%; */
    /* transform: translateX(50%); */
    background-color: rgba(225, 222, 222, 0.633);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 20px;
    border-radius: 5px;
}


div.gridPictures img {
    width: 120px;
    height: 120px;
    /* background-color: blue; */
    margin: auto;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

