
/* -------------------------------------------------------------------------- */
/*              SECCIÓN DEL PERFIL MODIFICANDO ESTILOS BOOTSTRAP              */
/* -------------------------------------------------------------------------- */

.nav-tabs{
    border-bottom:1px solid var(--main-bg-colorTop) !important;
}

ul.nav-tabs>li.active>a{
 border-bottom: 1px solid var(--main-bg-colorTop) !important;
 background-color: var(--main-bg-color) !important;
 color: var(--color-text-contrast) !important;
}

ul.nav-tabs>li>a{
    color: black;
}
div.productProfile h3{

    margin-top: 0;
    margin-bottom: 14px;
    font-size: 18px;
}
.progress-bar-danger{
    background-color: var(--main-bg-colorTop) !important;
    color: var(--color-text-contrast) !important;
}
.progress{
    height: 30px !important;
}
.progress-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}
h3.textProf{
    font-size: 17px !important;

}