/* -------------------------------------------------------------------------- */
/*                              RESPONSIVE DESIGN                             */
/* -------------------------------------------------------------------------- */

/* ---------------------------- ESTILOS GENERALES --------------------------- */

/* Escritorio grande */
@media (min-width:1200px){
	.col-lg-0{
		display: none;
	}
	.noProduct h1{
		font-size:150px;
		text-shadow:8px 8px 1px #d1cccc;
	}
}

/* Escritorio mediano */

@media (max-width:1199px) and (min-width:991px){
	.col-md-0{
		display: none;
	}
	.noProduct h1{
		font-size:100px;
		text-shadow:6px 6px 1px #c4c0c0;
	}
}

/* Tablet */

@media (max-width:990px) and (min-width:766px){
	.col-sm-0{
		display: none;
	}
	.noProduct h1{
		font-size:100px;
		text-shadow:4px 4px 1px  #c5c1c1;
	}
}

/* movil */
@media (max-width:766px){
	.col-xs-0{
		display: none;
	}
	.noProduct h1{
		font-size:75px;
		text-shadow:2px 2px 1px #c5c1c1;
	}
}

/* ----------------------- SECCION HEADER Y CATEGORIAS ---------------------- */

/* Especial PNG top */

@media (max-width:1480px){
	/* Imagen de hombre y mujer*/
img.imgTop{
display: none;
}
}

/* Escritorio */
@media (min-width:1200px){
    
	/* Posiciona el carrito a la derecha */
	#shopCart{
		padding-left:110px;
	}
	/* Padding general del logo */
	img.myLogo{
		padding:15px;
	}	
}

/* Escritorio mediano */
@media (max-width:1200px) and (min-width:992px){
    
	#shopCart{
		padding-left:70px;
	}
	img.myLogo{
		padding:18px;
	}   
}

/* tablet */
@media (max-width:992px) and (min-width:768px){

	img.myLogo{
		padding:22px 10px;
	}
	#shopCart{
		padding-left:56px;
	}
	/* Desaparece el input del carrito */
	/* #shopCart p{
		display:none;
	} */
}

/* Movil */
@media (max-width:767px){

	.barraTop ul{
		text-align: center;
	}
/* barra de separacion DEL LOGIN CON EL LOGO */
	#top #register{
		border-top:1px solid rgb(252, 252, 252);
		/* Cambio del margen superior de los contenedores en responsive */
		margin-top: 20px;
	}
	/* Correccion del margen superior de los iconos sociales */
	#social{
		margin: 20px;
	}	
	/* Colocacion centrada del login */
	.register ul{
		margin-bottom: 5px;
	}

	#logotipo img{
		padding:0px;
		padding-bottom:10px;
	}
	#categories{
		margin-bottom:10px;
	}
	#search{
		margin-bottom:10px;
	}
	#shopCart{
		margin-top: 20px;
	}
}

/* --------------------------- SECCION DEL SLIDER --------------------------- */


/* Escritorio grande */
@media (max-width:1500px) and (min-width:1200px){

	.textSlider h1{
        font-size: 60px;
        top: 20%;
		width: 100%;
      
    }
    .textSlider h2{
        font-size: 20px;
		top: 40%;
	
    }
    .textSlider h3{
        display: none;
    }
	/* Boton slider */
    .textSlider button{    
		top: 65%;
		margin: 0px;
		font-size: 15px;
		padding: 10px;
		}

}

/* Escritorio mediano */

@media (max-width:1199px) and (min-width:990px){
	.textSlider h1{
        font-size: 45px !important;
        top: 20% !important;
		width: 100%;
      
    }
    .textSlider h2{
        font-size: 15px !important;
		top: 40% !important;
	
    }
    .textSlider h3{
		font-size: 15px !important;
		top: 50% !important;
	
    }
	/* Boton slider */
    .textSlider button{    
		top: 65%;
		margin: 0px;
		font-size: 15px;
		padding: 10px;
		}
		/* FLECHAS */
		#slider .arrow{
			font-size: 0.8em;
		}
		.arrow#nextImg,.arrow#backImg{    
		 
			padding: 15px 6px 17px 6px;   
			/* font-size: 11px; */
		}
		#slider .arrow:hover{
			background-color: rgba(102, 102, 102, 0.705);
		}
}

/* Tablet */

@media (max-width:990px) and (min-width:767px){
	.textSlider h1{
        font-size: 35px !important;
        top: 20% !important;
		width: 100%;
      
    }
    .textSlider h2{
        font-size: 12px !important;
		top: 40% !important;
	
    }
    .textSlider h3{
        display: none;
    }
	/* Boton slider */
    .textSlider button{    
    /* transform: scale(0.5); */
    top: 65%;
	margin: 0px;
	font-size: 10px;
	padding: 7px;
    }
	/* FLECHAS */
    #slider .arrow{
        font-size: 0.8em;
    }
    .arrow#nextImg,.arrow#backImg{    
     
        padding: 15px 6px 17px 6px;   
        /* font-size: 11px; */
    }
	#slider .arrow:hover{
		background-color: rgba(102, 102, 102, 0.705);
	}
	 /* PAGINACION */
    ol.pagination{
    font-size: 15px;
    margin-bottom: 6px;
}
    
    /* estilos del paginador (Cambiando estilos de Bootstrap) */
    #slider .pagination>li>span{
    padding: 3px 5px;
    }    
}
/* movil */
@media (max-width:767px) and (min-width:529px) {

    .textSlider h1{
        font-size: 30px !important;
        top: 30% !important;
        margin: 0px 4.5%;
		width: 80%;
    }
    .textSlider h2{
        font-size: 8px !important;
		top: 50% !important;
		margin: 0px 4.5%;
		
    }
    .textSlider h3{
        display: none;
    }
    
/* Boton slider */
    .textSlider button{    
        font-size: 8px;
        top: 65%;
		margin: 0px 4.5%;
		padding: 6px;
    }

/* FLECHAS */
    #slider .arrow{
        font-size: 0.8em;
    }
    .arrow#nextImg,.arrow#backImg{    
     
        padding: 8px 4px 10px 4px;   
        /* font-size: 11px; */
    }
	#slider .arrow:hover{
		background-color: rgba(102, 102, 102, 0.705);
	}
   /* PAGINACION */
ol.pagination{
    font-size: 10px;
    margin-bottom: 5px;
}
    
    /* estilos del paginador (Cambiando estilos de Bootstrap) */
    #slider .pagination>li>span{
    padding: 3px 5px;
    }    
}

 /* -------------------------------- Movil XS -------------------------------- */

 /* DIFERENTE VISTA */

@media (max-width:529px){

	#slider, img.imgSlider{
		height: 450px;
	}
	.textSlider h1{
        font-size: 35px !important;
        top: 70% !important;
		width: 100%;	
		text-align: center !important;
    }
	.textSliderL h1,.textSliderR h1{
		left: initial;
		right: initial;
	}
	.textSlider h2{
       display: none;
    }
 
	/* Boton slider */
    button.btnR, button.btnL{
		left: initial;
		right:50%;
		top: 90%;
		font-size: 10px;
		padding: 7px;
		transform: translateX(50%);
	}

	.productRigth img {
		position: absolute; 
		right: 50%;
		width: 40%;
		/* top: 50%; */
		width: calc(100% * 0.55) !important;
		transform: translateX(50%);
	}
	.productLeft img{
		position: absolute; 
		left: 50%;
		width: calc(100% * 0.55) !important;
		/* top: 50%; */
		transform: translateX(-50%);
	}
		

/* FLECHAS */
    #slider .arrow{
        font-size: 1.7em;
    }
    .arrow#nextImg,.arrow#backImg{    
     
        padding: 6px 3px 8px 3px;   
        /* font-size: 11px; */
    }
	#slider .arrow:hover{
		background-color: rgba(102, 102, 102, 0.705);
	}
   /* PAGINACION */
ol.pagination{
    display: none;
}
    
    /* estilos del paginador (Cambiando estilos de Bootstrap) */
    #slider .pagination>li>span{
    padding: 2px 4px;
    }    
}



/* -------------------------------------------------------------------------- */
/*                                  PRODUCTOS                                 */
/* -------------------------------------------------------------------------- */

/* Escritorio grande */
@media (min-width:1200px){
	
}

/* Escritorio mediano */

@media (max-width:1199px) and (min-width:991px){
	
}

/* Tablet */

@media (max-width:990px) and (min-width:640px){

	
}

/* movil */
@media (max-width:639px){
	.titleSectionProducts h1{
		font-size: 30px;
	}
	
	button.seeMore{
		font-size: 8px;
	}
}
/* movil */
@media (max-width:549px){
	.listProducts li{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;	 
		width: 260px;
		height: auto;   
	}
	ul.listProducts{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.titleSectionProducts h1{
		font-size: 17px;
	}
	button.seeMore{
		font-size: 8px;
	}
	.listProducts img{
		padding: 20px;
		height: 250px;
	}

 
}


/* NEW PRODUCTS */


/* movil */
@media (max-width:800px) and (min-width:531px){
	
	/* Contenedor de los productos */
	div.containerNewProducts {
			  display: flex;
			  flex-direction: column;
			  align-items: center;
			  width: 80%;
			  height: 2500px;
			  margin: auto;
			}   
			/* Texto */
			.newProducts h3{	 
				font-size: 52px ;				
				transform: scale(1);	
				color: red;	
			}	 
	}
/* movil xs */
@media (max-width:530px){
	  
div.containerNewProducts {
		  display: flex;
		  flex-direction: column;
		  align-items: center;
		  width: 90%;
		  height: 1500px;
		  margin: auto;
		}   
		.newProducts h3{				
			font-size: 40px;	
			transform: scale(1);
			color: red;
		
		}
 
}

/* BANNER MOTIVACION */
@media (max-width:1270px) and (min-width:801px){
	  
    div.banner{
		height: 600px;
	}

	.textBanner h1{
		font-size: 40px;
	}
	img.logoBanner{
		width: 50%;
		height: 25%;
		top: 60%;
	}

	}
@media (max-width:800px) and (min-width:531px){
	  
	div.banner{
		height: 400px;
	}

	.textBanner h1{
		font-size: 30px;
	}
	img.logoBanner{
		width: 50%;
		height: 25%;
		top: 60%;
	}

	}
/* movil xs */
@media (max-width:530px){
	  
div.banner{
	height: 270px;
}
.textBanner h1{
	font-size: 18px;
}
img.logoBanner{
	width: 50%;
	height: 25%;
	top: 60%;
}

 
}