/* -------------------------------------------------------------------------- */
/*                              RESPONSIVE DESIGN                             */
/* -------------------------------------------------------------------------- */

/* ---------------------------- ESTILOS GENERALES --------------------------- */

/* Escritorio grande */
@media (min-width:1200px){
	.col-lg-0{
		display: none;
	}
	.noProduct h1, .noProduct h2{
		font-size:42px;
	}
}

/* Escritorio mediano */

@media (max-width:1199px) and (min-width:991px){
	.col-md-0{
		display: none;
	}
	.noProduct h1 ,.noProduct h2{
		font-size:40px;
	}
}

/* Tablet */

@media (max-width:990px) and (min-width:766px){
	.col-sm-0{
		display: none;
	}
	.noProduct h1,.noProduct h2{
		font-size:30px;

	}
}

/* movil */
@media (max-width:766px){
	.col-xs-0{
		display: none;
	}
	.noProduct h1,.noProduct h2{
		font-size:30px;
	}
	

	
/* movil xs */
@media (max-width:530px){
	  
/* BREADCRUMBS */
ul.text-uppercase{
	display: none;
}
/* Barra de titilos */
.barProducts{
	height: 50px;
}
.noProduct h1,.noProduct h2{
	font-size:20px;
}
	 
	}
}

/* ----------------------- SECCION HEADER Y CATEGORIAS ---------------------- */

/* Especial PNG top */

@media (max-width:1480px){
	/* Imagen de hombre y mujer*/
img.imgTop{
display: none;
}
}

/* Escritorio */
@media (min-width:1200px){
    
	/* Posiciona el carrito a la derecha */
	#shopCart{
		padding-left:90px;
	}
	/* Padding general del logo */
	img.myLogo{
		padding:15px;
	}	
}

/* Escritorio mediano */
@media (max-width:1200px) and (min-width:992px){
    
	#shopCart{
		padding-left:60px;
	}
	#shopCart p{
		width: 180px;
	}
	img.myLogo{
		padding:18px;
	}   
}

/* tablet */
@media (max-width:992px) and (min-width:768px){

	img.myLogo{
		padding:22px 10px;
	}
	#shopCart{
		padding-left:56px;
	}
	
}

/* Movil */
@media (max-width:767px){

	.barraTop ul{
		text-align: center;
	}
/* barra de separacion DEL LOGIN CON EL LOGO */
	#top #register{
		border-top:1px solid rgb(252, 252, 252);
		/* Cambio del margen superior de los contenedores en responsive */
		margin-top: 20px;
	}
	/* Correccion del margen superior de los iconos sociales */
	#social{
		margin-bottom: 20px;
	}	
	/* Colocacion centrada del login */
	.register ul{
		margin-bottom: 5px;
	}

	#logotipo img{
		padding:0px;
		padding-bottom:10px;
	}
	#categories{
		margin-bottom:10px;
	}
	
	#search{
		margin-bottom:10px;
	}
	#shopCart{
		margin-top: 20px;
	}

	/* CAMBIO DE ICONO CESTA DEL HEADER */
	#shopCart p{
		height: 39px;
		display: flex;
		justify-content: flex-start;
		padding-left: 10px;
		align-items: center;
	}
	/* Precio total carrito */
	#shopCart p span {
		font-size: 14px;
	}

	#shopCart p :first-child{
		display: none;
	}
	/* IMAGEN DE PERFIL DESAPARECE EN MOVIL */
	img.imgProfileHeader{
		display: none;
	}
}

/* --------------------------- SECCION DEL SLIDER --------------------------- */


/* Escritorio grande */
@media (max-width:1500px) and (min-width:1200px){

	.textSlider h1{
        font-size: 60px;
        top: 20%;
		width: 100%;
      
    }
    .textSlider h2{
        font-size: 20px;
		top: 40%;
	
    }
    .textSlider h3{
        display: none;
    }
	/* Boton slider */
    .textSlider button{    
		top: 65%;
		margin: 0px;
		font-size: 15px;
		padding: 10px;
		}

}

/* Escritorio mediano */

@media (max-width:1199px) and (min-width:990px){
	.textSlider h1{
        font-size: 45px !important;
        top: 20% !important;
		width: 100%;
      
    }
    .textSlider h2{
        font-size: 15px !important;
		top: 40% !important;
	
    }
    .textSlider h3{
		font-size: 15px !important;
		top: 50% !important;
	
    }
	/* Boton slider */
    .textSlider button{    
		top: 65%;
		margin: 0px;
		font-size: 15px;
		padding: 10px;
		}
		/* FLECHAS */
		#slider .arrow{
			font-size: 0.8em;
		}
		.arrow#nextImg,.arrow#backImg{    
		 
			padding: 15px 6px 17px 6px;   
			/* font-size: 11px; */
		}
		#slider .arrow:hover{
			background-color: rgba(102, 102, 102, 0.705);
		}
}

/* Tablet */

@media (max-width:990px) and (min-width:767px){
	.textSlider h1{
        font-size: 35px !important;
        top: 20% !important;
		width: 100%;
      
    }
    .textSlider h2{
        font-size: 12px !important;
		top: 40% !important;
	
    }
    .textSlider h3{
        display: none;
    }
	/* Boton slider */
    .textSlider button{    
    /* transform: scale(0.5); */
    top: 65%;
	margin: 0px;
	font-size: 10px;
	padding: 7px;
    }
	/* FLECHAS */
    #slider .arrow{
        font-size: 0.8em;
    }
    .arrow#nextImg,.arrow#backImg{    
     
        padding: 15px 6px 17px 6px;   
        /* font-size: 11px; */
    }
	#slider .arrow:hover{
		background-color: rgba(102, 102, 102, 0.705);
	}
	 /* PAGINACION */
    ol.pagination{
    font-size: 15px;
    margin-bottom: 6px;
}
    
    /* estilos del paginador (Cambiando estilos de Bootstrap) */
    #slider .pagination>li>span{
    padding: 3px 5px;
    }    
}
/* movil */
@media (max-width:767px) and (min-width:529px) {

    .textSlider h1{
        font-size: 30px !important;
        top: 30% !important;
        margin: 0px 4.5%;
		width: 80%;
    }
    .textSlider h2{
        font-size: 8px !important;
		top: 50% !important;
		margin: 0px 4.5%;
		
    }
    .textSlider h3{
        display: none;
    }
    
/* Boton slider */
    .textSlider button{    
        font-size: 8px;
        top: 65%;
		margin: 0px 4.5%;
		padding: 6px;
    }

/* FLECHAS */
    #slider .arrow{
        font-size: 0.8em;
    }
    .arrow#nextImg,.arrow#backImg{    
     
        padding: 8px 4px 10px 4px;   
        /* font-size: 11px; */
    }
	#slider .arrow:hover{
		background-color: rgba(102, 102, 102, 0.705);
	}
   /* PAGINACION */
ol.pagination{
    font-size: 10px;
    margin-bottom: 5px;
}
    
    /* estilos del paginador (Cambiando estilos de Bootstrap) */
    #slider .pagination>li>span{
    padding: 3px 5px;
    }    
}

 /* -------------------------------- Movil XS -------------------------------- */

 /* DIFERENTE VISTA */

@media (max-width:529px){

	#slider, img.imgSlider{
		height: 500px;
	}
	.textSlider h1{
        font-size: 35px !important;
        top: 70% !important;
		width: 100%;	
		text-align: center !important;
    }
	.textSliderL h1,.textSliderR h1{
		left: initial;
		right: initial;
	}
	.textSlider h2{
       display: none;
    }
	.textSliderL h3,.textSliderR h3{
		left: initial;
		right: initial;
	}
	.textSlider h3{
        font-size: 20px !important;
        top: 80% !important;
		width: 100%;	
		text-align: center !important;
    }
 
	/* Boton slider */
    button.btnR, button.btnL{
		left: initial;
		right:50%;
		top: 90%;
		font-size: 10px;
		padding: 7px;
		transform: translateX(50%);
	}

	.productRigth img {
		position: absolute; 
		right: 50%;
		width: 40%;
		/* top: 50%; */
		width: calc(100% * 0.60) !important;
		transform: translateX(50%);
	}
	.productLeft img{
		position: absolute; 
		left: 50%;
		width: calc(100% * 0.70) !important;
		/* top: 50%; */
		transform: translateX(-50%);
	}
		

/* FLECHAS */
    #slider .arrow{
        font-size: 1.7em;
    }
    .arrow#nextImg,.arrow#backImg{    
     
        padding: 6px 3px 8px 3px;   
        /* font-size: 11px; */
    }
	#slider .arrow:hover{
		background-color: rgba(102, 102, 102, 0.705);
	}
   /* PAGINACION */
ol.pagination{
    display: none;
}
    
    /* estilos del paginador (Cambiando estilos de Bootstrap) */
    #slider .pagination>li>span{
    padding: 2px 4px;
    }    
}



/* -------------------------------------------------------------------------- */
/*                                  PRODUCTOS                                 */
/* -------------------------------------------------------------------------- */



/* movil */
@media (max-width:639px){
	.titleSectionProducts h1{
		font-size: 30px;
	}
	
	button.seeMore{
		font-size: 11px;
	}
}
/* movil */
@media (max-width:549px){
	.listProducts li{
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-bottom: 20px;	 
		width: 260px;
		height: auto;   
	}
	ul.listProducts{
		display: flex;
		flex-direction: column;
		align-items: center;

	}
	.titleSectionProducts h1{
		font-size: 17px;
	}
	button.seeMore{
		font-size: 10px;
	}
	.listProducts img{
		padding: 30px;
		height: 250px;
	}
   .catancor{
	   font-size: 14px;
   }
   img.img-thumbnail{
	   padding: 30px !important;
   }
 
}

/* -------------------------------------------------------------------------- */
/*                            PRODUCTOS ZONA DESCRIPTION                            */
/* -------------------------------------------------------------------------- */
@media (max-width:549px){

 div.textDescription h1{
	 font-size: 34px;
 }
 div.priceDescription h2{
	 font-size: 23px;
 }
 div.ratingdescription{
	 font-size: 8px;
 }
}

/* -------------------------------------------------------------------------- */
/*                               PERFIL USUARIO                               */
/* -------------------------------------------------------------------------- */

@media (max-width:549px){
	.progress{
    display: none;
	}

	.productProfile h1{
		font-size: 25px;
	}
	.productProfile h3{
		font-size: 15px !important;
	}

 
}

/* -------------------------------------------------------------------------- */
/*                       SELECCION DE FOTO EN EL PERFIL USUARIO                      */
/* -------------------------------------------------------------------------- */
@media (max-width:1000px){

    /* contenedor */
	div.gridPictures{ 
	 
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
	}
	
	/* img */
	div.gridPictures img {
		width: 100px;
		height: 100px;    
	}
	}
	/* img */
	@media (max-width:500px){
		div.gridPictures img {
			width: 70px;
			height: 70px;  
		   
			
		}
	}
	

/* -------------------------------------------------------------------------- */
/*                ZONA DE CHECKOUT                          */
/* -------------------------------------------------------------------------- */
@media (max-width:1270px) and (min-width:801px){
	div.panelBodyShop h3{
		margin: 0;    
		font-size: 17px;
		margin-left: 20px;
	}


	}
@media (max-width:800px) and (min-width:531px){
	  
	div.panelBodyShop h3{
		font-size: 15px;
		margin-left: 5px;
	}
	
	div.panelBodyShop div{
		padding: 10px;
	}
	input.chooseQuantity{
		width: 35px;
		height: 18px;
	}

	}
/* movil xs */
@media (max-width:530px){
	  
div.panelBodyShop h3{
	font-size: 12px;
	margin-left: 0 !important;
}

div.panelBodyShop div{
	padding: 5px;
}
div.panelBodyShop img{
	width: 60px;
}
button.removeItem{
	font-size: 10px !important;
	width: 20px;
    display: flex;
	justify-content: center;
}
div.subtotal{
	padding: 0;
}
div.subtotal h5, span.spanCheckout{
	font-size: 11px;
}

div.panelShop h3{
	font-size: 13px;
 text-align: center;
}
div.panelShop{
	height: 35px;
}
input.chooseQuantity{
	width: 30px;
	height: 15px;
}
 
}

/* -------------------------------------------------------------------------- */
/*                                   MODALES                                  */
/* -------------------------------------------------------------------------- */
/* movil xs */
@media (max-width:530px){
	  
	h2.modal-title{
		font-size: 20px;
	}
	div.modal-header{
		height: 50px;
	}
	 
	}

/* -------------------------------------------------------------------------- */
/*                               TEXTO ABOUT US                               */
/* -------------------------------------------------------------------------- */

/* movil */
@media (max-width:800px) and (min-width:531px){
	
	
	div.contText img{

		width: 300px !important;
	}
	div.contText{

	display: flex;
	justify-content: center;
	}	

	}
/* movil xs */
@media (max-width:530px){

	div.contText img{

		width: 260px !important;
	}
	div.contText{

	display: flex;
	justify-content: center;
	}	 
	div.contTextH4 h4{
		font-size: 15px;
	}

 
}

/* -------------------------------------------------------------------------- */
/*                                   FOOTER                                   */
/* -------------------------------------------------------------------------- */
@media (max-width:800px) and (min-width:531px){
	
	div.contInfo{
		margin-bottom: 50px;
		align-items: center;
	}
	div.contInfo i{
		font-size: 18px;
	}

	}
/* movil xs */
@media (max-width:530px){


 div.contInfo{
	 margin-bottom: 50px;
 }
 div.contInfo i{
	 font-size: 15px;
 }
}