/* -------------------------------------------------------------------------- */
/*                               /IMPORTANTE!!!                               */
/* -------------------------------------------------------------------------- */
/* -LOS SELECTORES POR ID SON PRINCIPALMENTE LOS CONTENEDORES DE CADA SECCION 
   -LOS SELECORES POR CLASE SON LOS ELEMENTOS QUE ESTAN DENTRO DE LOS CONTENEDORES*/
/* -ALGUNAS VECES ES NECESARIO USAR DOS SELECTORES PARA NO CREAR CONFLICTO CON BOOTSTRAP EJEMPLO: ul.miClase */



/* -------------------------------------------------------------------------- */
/*                                   SLIDER                                   */
/* -------------------------------------------------------------------------- */


/* Contenedor slider */
#slider{
    width: 100%;
    margin: auto;
    margin-top: 50px;
    padding: 0;
    position: relative;
    overflow: hidden;    
}

/* La lista que contendra los slides */
#slider ul{
    /* El ancho es de 600 por que hay 6 slider (num_slider * 100%) */
    width: 600%;
    position: relative;
    margin: auto;
    /* El porcentaje de left cambiara dinamicamente con JS para mostrar todos los slides */
    left: 0%;
    display: table;
    clear: both;
}
/* Lista de las imagenes del slider */
#slider ul li{
    position: relative;
    /* no tocar */
    float: left;
    /* Defino el ancho en funcion del numero de fotos del slider (ancho 100% dividido por las img usadas)*/
    width: calc(100%/6); 
    overflow: hidden;
}

/* Fondo del slider */
img.imgSlider{
    width: 100%;
    height: 100%;
}

/*Posicion producto  */
.productRigth img{
    position: absolute; 
    right: 10%;
    /* DINAMICO 
    top: 25%;
    width: 40%;*/
}

/* Posicion producto */
.productLeft img{
    position: absolute;
    left: 10%;
    /* DINAMICO 
    top: 25%;
    width: 40%; */
}


/* Textos del slider */
.textSliderL h1, .textSliderL h2{
    position: absolute;
    width: 40%;
    left: 8%;
    text-transform: uppercase;
}
/* Textos del slider */
.textSliderR h1,.textSliderR h2{
    position: absolute;
    width: 40%;
    right: 8%;
    text-align: right;
}

/* Textos H1 */
.textSlider h1{
    font-size: 60px;
    top: 20%;
}
.textSlider h2{
    font-size: 25px;
    top: 40%;
}


/*COLORES TEXTOS SLIDER 1 Y 4*/
/* .TextSli1 h1{
    color: rgb(8, 54, 37);
}
.TextSli1 h2{
    color: rgb(11, 83, 55);
}


/* COLORES TEXTOS SLIDER 2 Y 5 */
/* .TextSli2 h1{
    color: rgb(0, 0, 0);
}
.TextSli2 h2{
    color: rgb(37, 37, 37);
} */


/* COLORES TEXTOS SLIDER 3 Y 6 */
/* .TextSli3 h1{
    color: rgb(255, 255, 255);
}
.TextSli3 h2{
    color: rgb(208, 211, 210);
}  */


/* BOTON */

.textSlider button{
    border: 0;
    position: absolute;
    top: 65%;   
    padding: 10px;   
    font-size: 20px;
}
button.btnR{
    right:8%;
    opacity: 1;
}
button.btnL{
    left: 8%;
    opacity: 1;
}

.textSlider button span{
    margin-left: 10px;  
}

/* FLECHAS */
#slider .arrow{
    background-color: rgba(102, 102, 102, 0.705);
    position: absolute;
    font-size: 2em;
    color: white;
    cursor: pointer;
    z-index: 2;
}
#slider .arrow:hover{
    color: rgb(228, 226, 226);
    background-color: rgb(19, 18, 18);
}

.arrow#nextImg{    
    top: 45%;
    right: 0;
    padding: 30px 10px;   
}
.arrow#backImg{
    top: 45%;
    left: 0;
    padding: 30px 10px;
}

/* PAGINACION */
ol.pagination{
position: absolute;
left: 0;
bottom: 0;
width: 100%;
margin: auto;
margin-bottom: 10px;
font-size: 20px;
display: flex;
justify-content: center;
}

/* estilos del paginador (Cambiando estilos de Bootstrap) */
#slider .pagination>li>span{
margin: 0px 0px;
background-color: transparent;
color: rgb(226, 208, 231);
border: none;
padding: 6px 10px;
cursor: pointer;
}

#slider .pagination li:first-child span{
    color: rgb(39, 39, 39);
}

